.btn-verde{
    color:white;
    background-color:#00463F;
}
.btn-verde:hover {
    box-shadow: 0 0 10px gray;
}
.btn-verde:active {
    background-color: white;
}
.categoria {
    width: 150px;
    height: 150px;
    transition: 0.2s;
    border: solid lightgrey 1px;
    color: black;
}
.categoria-box {
    display: flex;
    flex-direction: column;
}
.categoria:hover {
    color: lightgray;
}
.btn-verde{
    color:white;
    background-color:#00463F;
}
.ctg-img {
    width: 80px;
    height: 80px;
    transition: 0.2s;
}.img-front {
    display: none;
}
.categoria:hover .img-back {
    display: none;
}
.categoria:hover .img-front {
    display: block;
}
.categoria:hover {
    background-color: #00463F;
}
.header-style{
    background-color: #00463f;
    color: whitesmoke;
}
@media only screen and (max-width: 800px) {
    .categoria-box {
        
        flex-direction: row;
        flex-wrap: wrap;
    }
    .card {
        flex-direction: row;
    }
    .card-row {
        flex-direction: row;
    }
}