<div class="container-fluid mt-5">
   <h2 class="ml-5" style="font-family: 'Roboto Slab', serif; font-size: 24pt;"> Resultados</h2>
    <hr>
    <div class="row mt-5 d-flex flex-wrap text-center justify-content-center ">
      <br>
      
      <div class="col-md-12 d-flex justify-content-center mb-5 flex-wrap loading" *ngIf="loading">
        <div class="spinner-border text-success" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <div class="col-md-12 d-flex justify-content-center mb-5 flex-wrap" *ngIf="!loading">
        <p class="text-center" style="font-family: 'Roboto Slab', serif; font-size: 24pt;" *ngIf="listaPesquisa?.length == 0 ">Nenhum Produto Foi Encontrado!</p>

        <!-- Cards 4 Produtos -->
        <div class="col-md-10 d-flex justify-content-center mb-5 card-row flex-wrap ">
          <!-- Cards 4 Produtos -->
          <div *ngFor="let produto of listaPesquisa" class=" border mobile-card-img m-1">
            <img class=" p-3 card-img-top img-fluid " src="{{produto.imagem}}">
            <div class="card-body">
              <h5 class="card-text">{{produto.descricao}}</h5><p> R${{produto.preco}}.00</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
 