.btn-verde{
    color:white;
    background-color:#00463F;
}
.mobile-card-img {
    transition: 0.5s;
}
.mobile-card-img:hover {
    box-shadow: -2px 1px 35px 1px rgba(159,150,150,0.75);
    -webkit-box-shadow: -2px 1px 35px 1px rgba(159,150,150,0.75);
    -moz-box-shadow: -2px 1px 35px 1px rgba(159,150,150,0.75);
}
.mobile-card-img:active {
    background-color: #00463F;
    color: whitesmoke;
}