<div class="row mt-5 d-flex flex-wrap justify-content-center ">

  <div class="col-md-12 d-flex justify-content-center flex-wrap h-100 m-4">
    <!-- Cards 4 Produtos -->
     
        <div *ngFor="let produto of produtos" class="card m-1 col-3">
          <img class="card-img-top" src="{{produto.imagem}}">
          <div class="card-body">
            <h4 class="card-title">{{produto.nome}}</h4>
            <h6 class="card-title">R${{produto.preco}}</h6>
            <p class="text-secondary">em {{produto.parcelamento}} sem juros.</p>
            <hr>
            <p class="card-text">{{produto.descricao}}</p>
            <a routerLink='/carrinho' class="btn btn-verde d-flex justify-content-center">Comprar</a>
          </div>
        </div>
     
    <!-- Cards 4 Produtos -->
  </div>
</div>