<footer>

    <div class="row mt-5 d-flex justify-content-center">

        <div class="col-md-4 p-0">
            <div class="bg-danger ">
                <h4 class="text-center">Área do Cliente</h4>
                <div class="col-md-6 ">
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-8 ">
                            <div class=" container justify-content-left ml-5 mb-2">Minha conta</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 "></div>
                        <div class="col-md-8 ">
                            <div class="container justify-content-left ml-5 mb-2">Pedidos</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 "></div>
                        <div class="col-md-6 ">
                            <div class="container justify-content-left  mb-2">Lista de Desejos</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-10 ">
                            <div class="container justify-content-left ml-5 mb-2">Carrinho de Compras</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 "></div>
                        <div class="col-md-8 ">
                            <div class="container justify-content-left ml-5 mb-2">Finalizar Pedios</div>
                        </div>
                    </div>
                    
                    
                    
                    
                    
                </div>
            </div>
        </div>
        <div class="col-md-4 p-0">
            <div class="bg-secondary ">
                <h4 class="text-center">Canais de Contato</h4>
            </div>
            <div class="row container justify mb-2">
                <h6>Fale Conosco</h6>
            </div>
            <div class="row container justify mb-2">9999-9999</div>
            <div class="row container justify mb-2">sac@theymatter.com</div>
            <div class="row container justify mb-2">(11)99999-9999</div>
            <div class="row container justify mb-2">Horário de atendimento:<br>Segunda à Sexta Feira.<br>De 9:00h às
                18:00</div>

        </div>
        <div class="col-md-4 p-0">
            <div class="bg-success ">3 coluna</div>
        </div>
    </div>



</footer>
<footer>

    <h5 class="text-center">&copy; They Matter - Todos os Direitos Reservados </h5>

</footer>