<div class="container-fluid">
    <div class="row ">
        <div class="col-md-12 mt-5">
            <h2>Meu carrinho</h2>
            <hr>
            <div class="row ">
                <div class="col-md-5">
                    <p>Produto</p>
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src=".../100px180/?text=Image cap" alt="Imagem de capa do card">
                        <div class="card-body">
                            <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer
                                preencher o conteúdo do card.</p>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src=".../100px180/?text=Image cap" alt="Imagem de capa do card">
                        <div class="card-body">
                            <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer
                                preencher o conteúdo do card.</p>
                        </div>
                    </div>

                </div>

                <div class="col-md-3">
                    <p>Qtd.</p>
                    <form action="#">
                        <input type="number" min="1">

                    </form>
                </div>

                <div class="col-md-3">
                    <p>Valor</p>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">R$</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Quantia">
                        <div class="input-group-append">
                            <span class="input-group-text">.00</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row d-flex justify-content-end mt-5 mb-5">
                <div class="col-md-4">
                    <p>Total</p>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">R$</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Quantia">
                        <div class="input-group-append tmt">
                            <span class="input-group-text">.00</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12 mb-5 d-flex">
            <p class="mt-1">Calcule frete e prazo</p>       
                <div class="input-group d-flex tm">
                <input type="text" class="form-control" placeholder="ex.:00000-000" aria-label="Recipient's username"
                    aria-describedby="button-addon2">
                <div class="input-group-append ">
                    <button class="br btn btn-outline-light bg-primary" type="button" id="button-addon2">Calcular</button>
                </div>
            </div>
            
        </div>

    </div>
</div>