<!-- <div class="container-fluid">
    <div class="row d-flex justify-content-center mb-lg-5 mt-lg-5">
        <div class="col-md-3 text-center mt-5">
            <i class="fa fa-shopping-cart cart-icon" aria-hidden="true"></i>
            <h4>Carrinho Vazio!</h4>
            <hr>
            <p>Navegue por nossos <a routerLink="/produtos">produtos</a>!</p>
        </div>
    </div>
    
</div> -->


<div  class="container-fluid">
    <div class="row d-flex justify-content-center">
        
        <div class="col-md-6 mt-5">
            <!--Titulo-->
            <h2>Meu carrinho</h2>
            <hr>
            <!--/Titulo-->
                <div class="row ">
                    <!-- coluna de produto-->
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">Produto</th>
                            <th scope="col">Descrição</th>
                            <th scope="col">Valor</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let produto of listaProdutos">
                            <th scope="row" ><img class=" tm1" src="{{produto.imagem}}"></th>
                            <td class="align-middle">{{produto.nome}}</td>
                            <td class="align-middle">R$ {{produto.preco}}.00</td>
                            <td class="align-middle"><button (click)="removeProduto(listaProdutos.indexOf(produto))" class="btn btn-danger mr-3" style="float:right"  >Remover</button></td>
                        </tr>  
                        </tbody>
                    </table>
                    
                <!-- /coluna de produto-->
            </div>
            <hr>
            <!--coluna de total-->
        </div>
    </div>
    <hr>
    <!--coluna do botao-->
    <div class="row d-flex justify-content-center">
        <div class="col-md-2"></div>
        <div class="col-md-4 p-5">
            <div class="card">
                <div class="card text-center">
                    <div class="card-body">
                        <form>
                            <div class="card-header border-0">
                                SELECIONE UM ENDEREÇO CADASTRADO:
                            </div>
                            <br>
                            <div class="form-row">
                                <div class="col-md-12">
                                    <select class="form-control">
                                        <option *ngFor="let locations of listaLocais"> {{locations.nome}}, {{locations.cidade}}, {{locations.uf}} </option>
                                    </select>
                                </div>
                            </div>
                            <br>
                            <div class="card-header border-0">
                                OU INSIRA UM NOVO ENDEREÇO:
                            </div>
                            <br>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputAddress">Nome da rua: </label>
                                    <input [(ngModel)]="location.nome" type="text" name="Rua" class="form-control" id="inputAddress">
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="inputAddress">Nº:</label>
                                    <input [(ngModel)]="location.numero" type="number" name="numero" class="form-control" id="inputAddress">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="inputAddress">Referencia:</label>
                                    <input [(ngModel)]="location.referencia" type="text" name="ref" class="form-control" id="inputAddress">
                                </div>
                             </div>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="inputCity">Cidade</label>
                                    <input [(ngModel)]="location.cidade" type="text" name="cidade" class="form-control" id="inputCity">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="inputEstado">Estado</label>
                                    <select [(ngModel)]="location.uf" id="inputEstado" class="form-control" name="uf">
                                        <option selected>Escolher...</option>
                                        <option *ngFor="let item of uf" [value]="item"  >{{item}}</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="inputCEP">CEP</label>
                                    <input [(ngModel)]="location.cep" name="cep" type="text" minlength="9" maxlength="9" class="form-control" id="inputCEP">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
        <hr>
        <div class="col-md-4 p-5">
            <h4 class="text-capitalize text-justify">Valor total da compra: R$ {{total}}.00</h4>
            <label type="select">Selecione a forma de pagamento:</label>
            <br>
            <select [(ngModel)]="pedido.metodo" placeholder="forma de pagamento" class="form-control">
                <option [value]="metodo1">Á vista</option>
                <option [value]="metodo2">2x sem juros</option>
                <option [value]="metodo3">3x sem juros</option>
            </select>
            <hr>
            <div class="d-flex justify-content-between">
                <img class="cd-banner" src="../../assets/img/pngwing.com (1).png">
                <button class="botao" (click)="realizarPedido()">Finalizar</button>
             </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>