.fad:hover{
    color:darkgreen;
}
.fa-shopping-cart {
    font-size: 24pt;
}
.sr:hover{
    color: lightgreen;
}

.ca:hover{
    color: green;
}

.pa:hover{
    color: red;
}

.mat:hover{
    color: gold;
}

.pam:hover{
 color: orangered;
}

.pesquisar{
    border-radius: 10px 0 0 10px;
    width: 100%;
}

.btnpesquisar{
    margin-left: -1px;
    height: 38px;
    border-radius: 0 10px 10px 0;
    width: 10%;
}
.bk{
    background-color: #00463F;
}
.botao:active{
    border:solid black 2px;
}
.botao{
    font-size: 16pt;
}
.m-l {
    margin: 0 2em 0 2em;
}
@media only screen and (max-width: 800px) {
    .m-l{
        margin: 0 0 0 0;
    }
}