.carousel-indicators {
    position: inherit;
}
.btn-comprar{
    background-color: #00463F;
}
.banner-img {
    width: 100%;
    min-height: 10em;
}
.categoria {
    width: 150px;
    height: 150px;
    transition: 0.2s;
    border: solid lightgrey 1px;
    color: black;
}
.categoria:hover {
    color: lightgray;
}
.btn-verde{
    color:white;
    background-color:#00463F;
}
.ctg-img {
    width: 80px;
    height: 80px;
    transition: 0.2s;
}.img-front {
    display: none;
}
.categoria:hover .img-back {
    display: none;
}
.categoria:hover .img-front {
    display: block;
}
.categoria:hover {
    background-color: #00463F;
}