.carousel-indicators {
    position: inherit;
}
.btn-comprar{
    background-color: #00463F;
}
.banner-img {
    width: 100%;
    height: 200px;
}
.categoria {
    width: 150px;
    height: 150px;
    transition: 0.2s;
    border: solid lightgrey 1px;
    color: black;
}
.categoria:hover {
    color: lightgray;
}
.ctg-img {
    width: 80px;
    height: 80px;
    transition: 0.2s;
}.img-front {
    display: none;
}
.categoria:hover .img-back {
    display: none;
}
.categoria:hover .img-front {
    display: block;
}
.categoria:hover {
    background-color: #00463F;
}