<div class="container-fluid flex-wrap">
    <div class="row justify-content-center h-100">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="../../assets/main-page-img/maia-expeditions-home-slide-1.jpg"
                        alt="First slide" />
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6 p-5 mt-5 mb-5 border-bottom">

            <i class="fa fa-quote-right mr-3" aria-hidden="true"></i>
            <br />
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero minima
                soluta modi aliquid atque quis laborum ipsum molestiae, harum ab
                officia possimus sapiente dignissimos nisi facere iusto doloremque
                quia? Vero.
            </p>
            <br />
            <i class="fa fa-quote-left ml-1" aria-hidden="true"></i>

        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-10 justify-content-center">
            <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">
                <div class="d-flex justify-content-between p-3">

                </div>
                <ol class="carousel-indicators mt-3">
                    <li data-target="#multi-item-example" data-slide-to="0" class="active bg-dark"></li>
                    <li class="bg-dark" data-target="#multi-item-example" data-slide-to="1"></li>
                </ol>
                <!--/.Indicators-->

                <div>

                </div>
                <div class="carousel-inner" role="listbox">
                    <!--First slide-->
                    <div class="carousel-item active">
                        <div class="col-md-3" style="float: left">
                            <div class="card mb-2">
                                <img class="card-img-top"
                                    src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg"
                                    alt="Card image cap" />
                                <div class="card-body">
                                    <h4 class="card-title">Card title</h4>
                                    <p class="card-text">
                                        Some quick example text to build on the card title and make
                                        up the bulk of the card's content.
                                    </p>
                                    <button class="btn btn-block btn-comprar text-light">Comprar</button>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3" style="float: left">
                            <div class="card mb-3 border-">
                                <img class="card-img-top"
                                    src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg"
                                    alt="Card image cap" />
                                <div class="card-body">
                                    <h4 class="card-title">Card title</h4>
                                    <p class="card-text">
                                        Some quick example text to build on the card title and make
                                        up the bulk of the card's content.
                                    </p>
                                    <button class="btn btn-block btn-comprar text-light">Comprar</button>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3" style="float: left">
                            <div class="card mb-2">
                                <img class="card-img-top"
                                    src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg"
                                    alt="Card image cap" />
                                <div class="card-body">
                                    <h4 class="card-title">Card title</h4>
                                    <p class="card-text">
                                        Some quick example text to build on the card title and make
                                        up the bulk of the card's content.
                                    </p>
                                    <button class="btn btn-block btn-comprar text-light">Comprar</button>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3" style="float: left">
                            <div class="card mb-2">
                                <img class="card-img-top"
                                    src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg"
                                    alt="Card image cap" />
                                <div class="card-body">
                                    <h4 class="card-title">Card title</h4>
                                    <p class="card-text">
                                        Some quick example text to build on the card title and make
                                        up the bulk of the card's content.
                                    </p>
                                    <button class="btn btn-block btn-comprar text-light">Comprar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/.First slide-->

                    <!--Second slide-->
                    <div class="carousel-item">
                        <div class="col-md-3" style="float: left">
                            <div class="card mb-2">
                                <img class="card-img-top"
                                    src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg"
                                    alt="Card image cap" />
                                <div class="card-body">
                                    <h4 class="card-title">Card title</h4>
                                    <p class="card-text">
                                        Some quick example text to build on the card title and make
                                        up the bulk of the card's content.
                                    </p>
                                    <button class="btn btn-block btn-comprar text-light">Comprar</button>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3" style="float: left">
                            <div class="card mb-2">
                                <img class="card-img-top"
                                    src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(47).jpg"
                                    alt="Card image cap" />
                                <div class="card-body">
                                    <h4 class="card-title">Card title</h4>
                                    <p class="card-text">
                                        Some quick example text to build on the card title and make
                                        up the bulk of the card's content.
                                    </p>
                                    <button class="btn btn-block btn-comprar text-light">Comprar</button>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3" style="float: left">
                            <div class="card mb-2">
                                <img class="card-img-top"
                                    src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(48).jpg"
                                    alt="Card image cap" />
                                <div class="card-body">
                                    <h4 class="card-title">Card title</h4>
                                    <p class="card-text">
                                        Some quick example text to build on the card title and make
                                        up the bulk of the card's content.
                                    </p>
                                    <button class="btn btn-block btn-comprar text-light">Comprar</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3" style="float: left">
                            <div class="card mb-2">
                                <img class="card-img-top"
                                    src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(47).jpg"
                                    alt="Card image cap" />
                                <div class="card-body">
                                    <h4 class="card-title">Card title</h4>
                                    <p class="card-text">
                                        Some quick example text to build on the card title and make
                                        up the bulk of the card's content.
                                    </p>
                                    <button class="btn btn-block btn-comprar text-light">Comprar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5 mb-5 bg-banner">
        <button class="btn btn-light border-0">Explore nossos Produtos</button>

    </div>
</div>