

<div class="jumbotron jumbotron-fluid bg-white">
    <div class="container">
        <h1>Olá, {{userLogin.nome}}</h1>
    </div>
</div>
<div class="container">
    <nav>
        <div class="nav nav-tabs justify-content-center border-0" id="nav-tab" role="tablist">
            <a class=" nav-item nav-link active border-0 text-dark " id="nav-conta-tab" data-toggle="tab"
                href="#nav-conta" role="tab" aria-controls="nav-conta" aria-selected="true">
                <img src="https://i.imgur.com/ggocf0v.png" class="rounded float-left mr-4">Conta</a>
            <a class="nav-item nav-link border-0 text-dark" id="nav-endereco-tab" data-toggle="tab" href="#nav-endereco"
                role="tab" aria-controls="nav-endereco" aria-selected="false">
                <img src="https://i.imgur.com/J36eFO9.png" class="rounded float-left mr-4">Endereço</a>
            <a class="nav-item nav-link border-0 text-dark" id="nav-pedidos-tab" data-toggle="tab" href="#nav-pedidos"
                role="tab" aria-controls="nav-pedidos" aria-selected="false">
                <img src="https://i.imgur.com/ZeF5x3N.png" class="rounded float-left mr-4">Pedidos</a>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active border-0" id="nav-conta" role="tabpanel" aria-labelledby="nav-conta-tab">
            <!--CONTA-->
            <div class="card mb-6">
                <div class="card text-center border-0">
                    <div class="card-header border-0">
                        DADOS PESSOAIS
                    </div>
                    <div class="card-body ">
                        <form>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputName">Usuário</label>
                                    <p type="text" class="form-control" id="inputName" placeholder="">{{userLogin.nome}}
                                    </p>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputUser">Email</label>
                                    <p type="text" class="form-control" id="inputUser" placeholder="">
                                        {{userLogin.email}}</p>
                                </div>
                            </div>

                        </form>

                    </div>
                    <div class="card-footer text-muted">
                        <button [routerLink]="['/edit-dados',id]" class="btn btn-light mr-1 justify-content-end"
                            data-toggle="modal" data-target="#editar">Editar<img src="https://i.imgur.com/uzxrsVV.png"
                                class="rounded float-left">
                        </button>
                        <button [routerLink]="['/delete-dados',id]" class="btn btn-light mr-1" data-toggle="modal"
                            data-target="#apagar">Excluir<img src="https://i.imgur.com/riXjkz5.png"
                                class="rounded float-left">
                        </button>

                    </div>
                </div>
            </div>
            <!--/CONTA-->
        </div>
        <!--ENDEREÇO-->
        <div class="tab-pane fade border-0" id="nav-endereco" role="tabpanel" aria-labelledby="nav-endereco-tab">
            <div class="card">
                <div class="card text-center">
                    <div class="card-header border-0">
                        ENDEREÇOS
                    </div>
                    <div *ngFor="let endereco of userLogin.location" class="card-body">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputAddress"> Nome da Rua: </label>
                                <span type="text" class="form-control" id="inputAddress">{{endereco.nome}}</span>
                            </div>
                            <div class="form-group col-md-2">
                                <label for="inputAddress"> Numero: </label>
                                <span type="text" class="form-control" id="inputAddress">{{endereco.numero}}</span>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="inputAddress"> Referencia: </label>
                                <span type="text" class="form-control" id="inputAddress">{{endereco.referencia}}</span>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="inputCity">Cidade</label>
                                <span type="text" class="form-control" id="inputCity">{{endereco.cidade}}</span>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="inputEstado">Estado</label>
                                <span id="inputEstado" class="form-control">{{endereco.uf}}</span>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="inputCEP">CEP</label>
                                <span type="text" class="form-control" id="inputCEP">{{endereco.cep}}</span>
                            </div>
                        </div>

                        <div class="card-footer text-muted">
                            <button class="btn btn-light mr-1 justify-content-end" data-toggle="modal"
                                data-target="#editar">Editar<img src="https://i.imgur.com/uzxrsVV.png"
                                    class="rounded float-left">
                            </button>
                            <button class="btn btn-light mr-1" data-toggle="modal" data-target="#apagar">Excluir<img
                                    src="https://i.imgur.com/riXjkz5.png" class="rounded float-left">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/ENDEREÇO-->
        <!--PEDIDOS-->
        <div class="tab-pane fade" id="nav-pedidos" role="tabpanel" aria-labelledby="nav-pedidos-tab">
            <div class="row">
                <!--Titulo-->
                <h2 class="text-center">Meus Pedidos</h2>


                <!--/Titulo-->

                <table class="table bg-light">
                    <thead>
                        <tr>
                            <th scope="col">ID pedido:</th>
                            <th scope="col">Status:</th>
                            <th scope="col" class="text-right">Valor total:</th>
                            <th scope="col" class="text-right">Método</th>
                            <th scope="col" class="text-right">Data:</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let pedidos of userLogin.pedido">
                        <tr>
                            <th scope="col">{{pedidos.id}}</th>
                            <td scope="col">{{pedidos.status}}</td>
                            <td scope="col" class="text-right">R$ {{pedidos.total}}</td>
                            <td scope="col" class="text-right">{{pedidos.metodo}}</td>
                            <td scope="col" class="text-right">{{pedidos.data}}</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    <!--/PEDIDOS-->
    <div class="tab-pane fade" id="nav-desejos" role="tabpanel" aria-labelledby="nav-desejos-tab">
    </div>
    <div class="tab-pane fade" id="nav-trocas" role="tabpanel" aria-labelledby="nav-trocas-tab">
    </div>
</div>

<!--JUBUTROM-->

<div class="jumbotron jumbotron-fluid bg-white">
</div>