<div>
  <!-- banner do Cabeçalho -->
  <div class="container-fluid p-0 text-center m-0">
    <img src="../../assets/img/sobre/banner1.jpg" alt="onça pintada" class="mw-100" />
  </div>
  <div class="container">

    <!-- Sober nós-->

    <div class="container p-0 m-0">
      <strong>
        <h4 class="py-3">SOBRE NÓS</h4>
      </strong>
    </div>
    <hr>
    <div class="container m-0 bg-colorstyle py-3 textSize">
      <p>A biodiversidade existente é o resultado de um processo evolutivo de
        bilhões de anos, originando uma teia sob relação de interdependência, que é o
        estado ou condição dos indivíduos de estarem conectados por uma relação de
        reciprocidade ou mutualidade. Mas afinal, somos interdependentes? Nós
        acreditamos que sim, mas aos poucos estamos esquecendo disso, legando
        essa condição tão intrínseca da nossa espécie.</p>

      <p>A diversidade biológica é importante não apenas para o funcionamento
        dos ecossistemas, mas também contribui para as sociedades humanas de
        muitas maneiras, de forma que não só as pessoas são dependentes dela, mas
        especialmente os negócios e a indústria. Pesquisas atuais apresentadas no
        Fórum Econômico Mundial em 2020 mostram que mais da metade do PIB total
        do mundo (cerca de 44 trilhões de dólares em geração de valor econômico) é
        dependente da natureza e de seus serviços.</p>

      <p>O Brasil é o país que abriga a maior biodiversidade do mundo, estima-se
        que em território nacional estejam de 10% a 15% de toda a biodiversidade do
        planeta. Porém muitas espécies que fazem parte da fauna brasileira podem ser
        extintas em poucas décadas devido a problemas ambientais como: caça ilegal,
        degradação de habitats, poluição do ar e da água, exploração e uso
        insustentável de recursos naturais.</p>

      <p>Neste contexto, nós da SAFE NATURE criamos a They Matter, um ecommerce que tem como objetivo auxiliar
        institutos de preservação de
        espécies que tem pouca visibilidade pela população, pois ao priorizar apenas a
        conservação de espécies carismáticas, também conhecidas como “espécie
        bandeira”, corre-se o risco de distorcer prioridades, em que elas são
        favorecidas em detrimento de espécies em maior risco e não tão populares.
        Assim, acreditamos que não apenas mais recursos sejam destinados ao meio
        ambiente, mas que as pessoas compreendam que todas as espécies tem sua
        função na natureza e são importantes para manutenção do nosso ecossistema.</p>
    </div>


    <div class="row mt-5 d-flex justify-content-center">

      <strong>
        <h4 class="py-3">PARCEIRAS</h4>
      </strong>
    </div>

    <div class="d-flex align-items-center flex-column">

      <a href="https://institutovidalivre.org.br/" target="black"><img class="m-5"
          src="../../assets/img/sobre/vida_livre.png" alt="logo instituições" width="300px" height="70px" /></a>

      <a href="https://diversforsharks.com.br/pt/" target="black"> <img class="m-5"
          src="../../assets/img/sobre/sharks_instituto.png" alt="logo instituições" width="300px" height="70px" /></a>

      <a href="https://www.sospantanal.org.br/" target="black"> <img class="m-5"
          src="../../assets/img/sobre/sos_pantanal.png" alt="logo instituições" width="130px" height="160px" /></a>

      <a href="https://www.icasconservation.org.br/" target="black"> <img class="m-5"
          src="../../assets/img/sobre/icas.png" alt="logo instituições" width="200px" height="100px" /></a>

    </div>




    <hr class="mb-5 mt-5">

    <!-- Nossa Equipe -->
    <div class="container p-0 m-0">
      <strong>
        <h4 class="py-3">NOSSA EQUIPE</h4>
      </strong>
    </div>

    <div class="container pb-5">
      <!-- First Row -->
      <div class="row">
        <!-- Bruno Estivalli -->
        <div class="col-lg-3 col-sm-6">
          <div class="card hovercard">
            <div class="cardheader"></div>
            <div class="bg-colorstyle cardTamanho">
              <div class="avatar">
                <img data-toggle="modal" data-target="#brunoPerfilModal" alt=""
                  src="../../assets/img/sobre/avatarColaboradores/brunoEstivalli.jpg" />
              </div>
              <div class="info">
                <div class="title pt-3">Bruno</div>
                <div class="desc pt-3">Desenvolvedor FullStack Java</div>
                <div class="desc">Team Caatinga</div>
                <div class="desc">São Paulo - SP</div>
              </div>
              <div class="row mb-3">
                <div class="col-md-12 d-flex justify-content-center">
                  <a href="https://github.com/brunoestivalli" target="_blank" class="p-3">
                    <img class="tm-social socialIcon" src="../../assets/img/sobre/socialIcons/github.png"
                      alt="Logo do GitHub" />
                  </a>

                  <a href="https://www.linkedin.com/in/bruno-estivalli-vicente-61b007202/" target="_blank" class="p-3">
                    <img class="tm-social socialIcon" src="../../assets/img/sobre/socialIcons/linkedin.png"
                      alt="Logo do Linkedin" />
                  </a>
                </div>
              </div>
            </div>
          </div>
          <!--Bootstrap modal -->
          <div class="modal fade" id="brunoPerfilModal" tabindex="-1" role="dialog" aria-labelledby="brunoPerfilLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <!-- Modal heading -->
                <div class="modal-header">
                  <h5 class="modal-title" id="brunoPerfilLabel">
                    Bruno Estivalli Vicente
                  </h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"> × </span>
                  </button>
                </div>

                <!-- Modal body with image -->
                <div class="modal-body d-flex justify-content-center">
                  <img class="w-50" src="../../assets/img/sobre/avatarColaboradores/brunoEstivalli.jpg"
                    alt="Bruno Estivalli Vicente" />
                </div>

                <!-- Modal footer text -->
                <div class="modal-footer d-block">
                  <div class="row d-flex text-center">
                    <div class="col-sm">
                      <h4>Perfil Profissional</h4>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm">
                      <p>No contato com a programação descobri um mundo de possibilidades e entendi que com estudo e
                        trabalho contínuo posso aprimorar meus conhecimentos técnicos e me tornar um profissional cada
                        vez melhor.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Diego Joaquim -->
        <div class="col-lg-3 col-sm-6">
          <div class="card hovercard">
            <div class="cardheader"></div>
            <div class="bg-colorstyle cardTamanho">
              <div class="avatar">
                <img data-toggle="modal" data-target="#joaquimPerfilModal" alt=""
                  src="../../assets/img/sobre/avatarColaboradores/diegoJoaquim.jpg" />
              </div>
              <div class="info">
                <div class="title pt-3">Diego</div>
                <div class="desc pt-3">Desenvolvedor FullStack Java</div>
                <div class="desc">Team Amazônia</div>
                <div class="desc">Guarulhos - SP</div>
              </div>
              <div class="row mb-3">
                <div class="col-md-12 d-flex justify-content-center">
                  <a href="https://github.com/Joaquim-Silva" target="_blank" class="p-3">
                    <img class="tm-social socialIcon" src="../../assets/img/sobre/socialIcons/github.png"
                      alt="Logo do GitHub" />
                  </a>

                  <a href="https://www.linkedin.com/in/diego-jsilva" target="_blank" class="p-3">
                    <img class="tm-social socialIcon" src="../../assets/img/sobre/socialIcons/linkedin.png"
                      alt="Logo do Linkedin" />
                  </a>
                </div>
              </div>
            </div>
          </div>
          <!--Bootstrap modal -->
          <div class="modal fade" id="joaquimPerfilModal" tabindex="-1" role="dialog"
            aria-labelledby="joaquimPerfilLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <!-- Modal heading -->
                <div class="modal-header">
                  <h5 class="modal-title" id="joaquimPerfilLabel">
                    Diego Joaquim Silva
                  </h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"> × </span>
                  </button>
                </div>

                <!-- Modal body with image -->
                <div class="modal-body d-flex justify-content-center">
                  <img class="w-50" src="../../assets/img/sobre/avatarColaboradores/diegoJoaquim.jpg"
                    alt="Diego Joaquim" />
                </div>

                <!-- Modal footer text -->
                <div class="modal-footer d-block">
                  <div class="row d-flex text-center">
                    <div class="col-sm">
                      <h4>Perfil Profissional</h4>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm">
                      <p>
                        Olá! Me chamo Diego, moro em São Paulo e estou estudando
                        para me tornar um Desenvolvedor Full Stack!
                      </p>
                      <p>
                        Em Outubro/2020 iniciei o Bootcamp Full Stack da
                        Generation Brasil onde estou aprendendo a desenvolver
                        aplicações web utilizando Java, Spring Boot, SQL,
                        Angular e Docker..
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Erick Alan -->
        <div class="col-lg-3 col-sm-6">
          <div class="card hovercard">
            <div class="cardheader"></div>
            <div class="bg-colorstyle cardTamanho">
              <div class="avatar">
                <img data-toggle="modal" data-target="#erickPerfilModal" alt=""
                  src="../../assets/img/sobre/avatarColaboradores/erickAlan.jpg" />
              </div>
              <div class="info">
                <div class="title pt-3">Erick</div>
                <div class="desc pt-3">Desenvolvedor FullStack Java</div>
                <div class="desc">Team Mata Atlântica</div>
                <div class="desc">São Paulo - SP</div>
              </div>
              <div class="row mb-3">
                <div class="col-md-12 d-flex justify-content-center">
                  <a href="https://github.com/Erick0123" target="_blank" class="p-3">
                    <img class="tm-social socialIcon" src="../../assets/img/sobre/socialIcons/github.png"
                      alt="Logo do GitHub" />
                  </a>

                  <a href="https://www.linkedin.com/in/erick-alan-7bb92b1b4/" target="_blank" class="p-3">
                    <img class="tm-social socialIcon" src="../../assets/img/sobre/socialIcons/linkedin.png"
                      alt="Logo do Linkedin" />
                  </a>
                </div>
              </div>
            </div>
          </div>
          <!--Bootstrap modal -->
          <div class="modal fade" id="erickPerfilModal" tabindex="-1" role="dialog" aria-labelledby="erickPerfilLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <!-- Modal heading -->
                <div class="modal-header">
                  <h5 class="modal-title" id="erickPerfilLabel">Erick Alan Oliveira Moura</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"> × </span>
                  </button>
                </div>

                <!-- Modal body with image -->
                <div class="modal-body d-flex justify-content-center">
                  <img class="w-50" src="../../assets/img/sobre/avatarColaboradores/erickAlan.jpg" alt="Erick Alan" />
                </div>

                <!-- Modal footer text -->
                <div class="modal-footer d-block">
                  <div class="row d-flex text-center">
                    <div class="col-sm">
                      <h4>Perfil Profissional</h4>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm">
                      <p>
                        Sou proativo, persistente em relações a certas
                        dificuldades e sempre procura tecnologia em tudo.
                      </p>
                      <p>
                        Formação Acadêmica: Técnico Eletrônico-ETEC. Onde me
                        identifiquei em Sistemas Microprocessadores.
                      </p>
                      <p>
                        Desenvolvedor Java Junior Full Stack- Com a experiência
                        em Fundamentos de programação; Estrutura de dados; Banco
                        de Dados; HTML + CSS + JavaScript: HTML5, CSS3,
                        Bootstrap, DOM entre outros; Programação Avançada;
                        Metodologia SCRUM.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Guilherme Fidelis -->
        <div class="col-lg-3 col-sm-6">
          <div class="card hovercard">
            <div class="cardheader"></div>
            <div class="bg-colorstyle cardTamanho">
              <div class="avatar">
                <img data-toggle="modal" data-target="#guilhermePerfilModal" alt=""
                  src="../../assets/img/sobre/avatarColaboradores/guilhermeFidelis.jpg" />
              </div>
              <div class="info">
                <div class="title pt-3">Guilherme</div>
                <div class="desc pt-3">Desenvolvedor FullStack Java</div>
                <div class="desc">Team Cerrado</div>
                <div class="desc">Ibiúna - SP</div>
              </div>
              <div class="row mb-3">
                <div class="col-md-12 d-flex justify-content-center">
                  <a href="https://github.com/GuiFidelis" target="_blank" class="p-3">
                    <img class="tm-social socialIcon" src="../../assets/img/sobre/socialIcons/github.png"
                      alt="Logo do GitHub" />
                  </a>

                  <a href="https://www.linkedin.com/in/guifidelis" target="_blank" class="p-3">
                    <img class="tm-social socialIcon" src="../../assets/img/sobre/socialIcons/linkedin.png"
                      alt="Logo do Linkedin" />
                  </a>
                </div>
              </div>
            </div>
          </div>
          <!--Bootstrap modal -->
          <div class="modal fade" id="guilhermePerfilModal" tabindex="-1" role="dialog"
            aria-labelledby="guilhermePerfilLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <!-- Modal heading -->
                <div class="modal-header">
                  <h5 class="modal-title" id="guilhermePerfilLabel">
                    Guilherme Fidelis Pereira
                  </h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"> × </span>
                  </button>
                </div>

                <!-- Modal body with image -->
                <div class="modal-body d-flex justify-content-center">
                  <img class="w-50" src="../../assets/img/sobre/avatarColaboradores/guilhermeFidelis.jpg"
                    alt="Guilherme Fidelis Pereira" />
                </div>

                <!-- Modal footer text -->
                <div class="modal-footer d-block">
                  <div class="row d-flex text-center">
                    <div class="col-sm">
                      <h4>Perfil Profissional</h4>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm">
                      <p>
                        Formado em Analise e Desenvolvimento de Sistemas pela
                        Fatec-Sorocaba e Licenciado em Ciências Biológicas pelo
                        IFSP-São Roque. Tendo em vista o grande mercado e
                        possibilidade de construir uma carreira na área de T.I,
                        busco minha primeira oportunidade de trabalho.
                      </p>

                      <p>
                        tualmente estou participando do Bootcamp da Generation
                        Brasil de Desenvolvedor Java Jr. Fullstack, na qual
                        busco me atualizar sobre algumas tecnologias e estar
                        melhor preparado para o que o mercado exige. Neste
                        período já tive contato especialmente com a linguagem
                        Java, utilizando a Spring Boot como framework e MySQL
                        para Banco de Dados.
                      </p>

                      <p>
                        Possuo experiência em atendimento ao público, trabalho
                        em equipe, comunicação, além de interesse e persistência
                        para aprender conceitos e utilização de novas
                        ferramentas.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Second Row -->
      <div class="row d-flex justify-content-center">

        <!-- Leonardo Moraes -->
        <div class="col-lg-3 col-sm-6">
          <div class="card hovercard">
            <div class="cardheader"></div>
            <div class="bg-colorstyle cardTamanho">
              <div class="avatar">
                <img data-toggle="modal" data-target="#leonardoPerfilModal" alt=""
                  src="../../assets/img/sobre/avatarColaboradores/LeonardoMoraes.jpg" />
              </div>
              <div class="info">
                <div class="titleGrande pt-3">Leonardo</div>
                <div class="desc pt-3">Desenvolvedor FullStack Java</div>
                <div class="desc">Team Amazônia Azul</div>
                <div class="desc">São Paulo - SP</div>
              </div>
              <div class="row mb-3">
                <div class="col-md-12 d-flex justify-content-center">
                  <a href="https://github.com/Leon-Moraes" target="_blank" class="p-3">
                    <img class="tm-social socialIcon" src="../../assets/img/sobre/socialIcons/github.png"
                      alt="Logo do GitHub" />
                  </a>

                  <a href="https://www.linkedin.com/in/leommagalhaes/" target="_blank" class="p-3">
                    <img class="tm-social socialIcon" src="../../assets/img/sobre/socialIcons/linkedin.png"
                      alt="Logo do Linkedin" />
                  </a>
                </div>
              </div>
            </div>
          </div>
          <!--Bootstrap modal -->
          <div class="modal fade" id="leonardoPerfilModal" tabindex="-1" role="dialog"
            aria-labelledby="leonardoPerfilLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <!-- Modal heading -->
                <div class="modal-header">
                  <h5 class="modal-title" id="leonardoPerfilLabel">
                    Leonardo Moraes Magalhães
                  </h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"> × </span>
                  </button>
                </div>

                <!-- Modal body with image -->
                <div class="modal-body d-flex justify-content-center">
                  <img class="w-50" src="../../assets/img/sobre/avatarColaboradores/LeonardoMoraes.jpg"
                    alt="Leonardo Moraes Magalhães" />
                </div>

                <!-- Modal footer text -->
                <div class="modal-footer d-block">
                  <div class="row d-flex text-center">
                    <div class="col-sm">
                      <h4>Perfil Profissional</h4>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm">
                      <p>
                        Desenvolvedor full stack jr. Dedicado e proativo, sempre
                        disposto a trabalhar em equipe, se comunicar,
                        compartilhar e absorver conhecimento. Bastante atento
                        aos detalhes das demandas requeridas, e organizado em
                        suas entregas.
                      </p>
                      <p>
                        Possuo um amor e entusiamo gigante por tecnologia e por
                        criar soluções práticas para problemas complexos.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Mariana Oliveira -->
        <div class="col-lg-3 col-sm-6">
          <div class="card hovercard">
            <div class="cardheader"></div>
            <div class="bg-colorstyle cardTamanho">
              <div class="avatar">
                <img data-toggle="modal" data-target="#mariPerfilModal" alt=""
                  src="../../assets/img/sobre/avatarColaboradores/marianaOliveira.jpg" />
              </div>
              <div class="info">
                <div class="title pt-3">Mariana</div>
                <div class="desc pt-3">Desenvolvedor FullStack Java</div>
                <div class="desc">Team Pantanal</div>
                <div class="desc">Osasco - SP</div>
              </div>
              <div class="row mb-3">
                <div class="col-md-12 d-flex justify-content-center">
                  <a href="https://github.com/Ma2591" target="_blank" class="p-3">
                    <img class="tm-social socialIcon" src="../../assets/img/sobre/socialIcons/github.png"
                      alt="Logo do GitHub" />
                  </a>

                  <a href="http://www.linkedin.com/in/marianaantunes1" target="_blank" class="p-3">
                    <img class="tm-social socialIcon" src="../../assets/img/sobre/socialIcons/linkedin.png"
                      alt="Logo do Linkedin" />
                  </a>
                </div>
              </div>
            </div>
          </div>
          <!--Bootstrap modal -->
          <div class="modal fade" id="mariPerfilModal" tabindex="-1" role="dialog" aria-labelledby="mariPerfilLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <!-- Modal heading -->
                <div class="modal-header">
                  <h5 class="modal-title" id="mariPerfilLabel">
                    Mariana de Cássia Antunes Oliveira
                  </h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"> × </span>
                  </button>
                </div>

                <!-- Modal body with image -->
                <div class="modal-body d-flex justify-content-center">
                  <img class="w-50" src="../../assets/img/sobre/avatarColaboradores/marianaOliveira.jpg"
                    alt="Mariana Antunes Oliveira" />
                </div>

                <!-- Modal footer text -->
                <div class="modal-footer d-block">
                  <div class="row d-flex text-center">
                    <div class="col-sm">
                      <h4>Perfil Profissional</h4>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm">
                      <p>
                        Graduada em Engenharia Civil. Atuo há quase dez anos no
                        ramo da construção, desempenhando tarefas relacionadas a
                        projetos arquitetônicos e de instalações, além de fôrma
                        pronta para concreto armado. Possuo vivência nas rotinas
                        de acompanhamento técnico de obras e gerenciamento de
                        equipes de mão de obra. Segunda língua (inglês) avançado
                        e registro ativo no CREA (Conselho Regional de
                        Engenharia e Agronomia).
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Patricia Machado -->
        <div class="col-lg-3 col-sm-6">
          <div class="card hovercard">
            <div class="cardheader"></div>
            <div class="bg-colorstyle cardTamanho">
              <div class="avatar teste">
                <img data-toggle="modal" data-target="#patriciaPerfilModal" alt=""
                  src="../../assets/img/sobre/avatarColaboradores/patriciaMachado.jpg" />
              </div>
              <div class="info">
                <div class="title pt-3">Patricia</div>
                <div class="desc pt-3">Desenvolvedor FullStack Java</div>
                <div class="desc">Team Pampa</div>
                <div class="desc">São Paulo - SP</div>
              </div>
              <div class="row mb-3">
                <div class="col-md-12 d-flex justify-content-center">
                  <a href="https://github.com/patricia-machad" target="_blank" class="p-3">
                    <img class="tm-social socialIcon" src="../../assets/img/sobre/socialIcons/github.png"
                      alt="Logo do GitHub" />
                  </a>

                  <a href="https://www.linkedin.com/in/patricia-machado-0ba0111ba/" target="_blank" class="p-3">
                    <img class="tm-social socialIcon" src="../../assets/img/sobre/socialIcons/linkedin.png"
                      alt="Logo do Linkedin" />
                  </a>
                </div>
              </div>
            </div>
          </div>
          <!--Bootstrap modal -->
          <div class="modal fade" id="patriciaPerfilModal" tabindex="-1" role="dialog"
            aria-labelledby="patriciaPerfilLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <!-- Modal heading -->
                <div class="modal-header">
                  <h5 class="modal-title" id="patriciaPerfilLabel">
                    Patricia da Silva Machado
                  </h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"> × </span>
                  </button>
                </div>

                <!-- Modal body with image -->
                <div class="modal-body d-flex justify-content-center">
                  <img class="w-50" src="../../assets/img/sobre/avatarColaboradores/patriciaMachado.jpg"
                    alt="Patricia Machado" />
                </div>

                <!-- Modal footer text -->
                <div class="modal-footer d-block">
                  <div class="row d-flex text-center">
                    <div class="col-sm">
                      <h4>Perfil Profissional</h4>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm">
                      <p>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>