.header-prod {
    background-color: #00463f;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23222' stroke-width='6.3' stroke-opacity='0.5'%3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
}
.btn-verde{
    color:white;
    background-color:#00463F;
}
.btn-verde:hover {
    box-shadow: 0 0 10px gray;
}
.btn-verde:active {
    background-color: white;
}
.card-img-top {
    width: 300px;
}
.mobile-card-img {
    transition: 0.5s;
}
.mobile-card-img:hover {
    box-shadow: -2px 1px 35px 1px rgba(159,150,150,0.75);
    -webkit-box-shadow: -2px 1px 35px 1px rgba(159,150,150,0.75);
    -moz-box-shadow: -2px 1px 35px 1px rgba(159,150,150,0.75);
}
.mobile-card-img:active {
    background-color: #00463F;
    color: whitesmoke;
}
.img-card{
  width: 300px;
  height: 270px;
  }
.categoria {
    width: 150px;
    height: 150px;
    transition: 0.2s;
    border: solid lightgrey 1px;
    color: black;
}
.categoria-box {
    display: flex;
    flex-direction: column;
}
.categoria:hover {
    color: lightgray;
}
.btn-verde{
    color:white;
    background-color:#00463F;
}
.ctg-img {
    width: 80px;
    height: 80px;
    transition: 0.2s;
}
.img-front {
    display: none;
}
.categoria:hover .img-back {
    display: none;
}
.categoria:hover .img-front {
    display: block;
}
.categoria:hover {
    background-color: #00463F;
}
.header-style{
    background-color: #00463f;
    color: whitesmoke;
}
@media only screen and (max-width: 800px) {
    .categoria-box {
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 3em;
        justify-content: center;
    }
    .container-fluid {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center!important;
    }
    .prd-text {
        text-align: center;
    }
}
