<div class="container">
    <div class="container p-0 m-0">
        <strong>
            <h1 class="py-3">Extinção</h1>
        </strong>
    </div>

    <strong>
        <h4 class="py-3">Animais em Extinção</h4>
    </strong>

    <div class="row justify-content-center">
        <div class="col-md-12 justify-content-center">
            <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">
                <div class="d-flex justify-content-between p-3"></div>
                
                <!--/.Indicators-->

                <div></div>
                <div class="carousel-inner" role="listbox">
                    <!--First slide-->
                    <div class="carousel-item active">
                        <div class="col-md-3" style="float: left">
                            <div class="card">
                                <img class="card-img-top" src="../../assets/img/sobre/mutum.jpg" width="240" height="240">
                                <div class="card-body">
                                    <h4 class="card-title text-center">Mutum<br>Pinima</h4>
                                    <h6 class="card-title"><i>Crax fasciolata pinima</i></h6>
                                    <p class="card-text">Risco de extinção: <br> Criticamente em Perigo</p>
                                    <hr>
                                    <p class="card-text"> Leste do Pará a Oeste do Maranhão.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3" style="float: left">
                            <div class="card">
                                <img class="card-img-top" src="../../assets/img/sobre/pica_pau.jpg" width="240" height="240">
                                <div class="card-body">
                                    <h4 class="card-title text-center">Pica-pau<br> dourado-grande</h4>
                                    <h6 class="card-title"><i>Piculus polyzonus</i></h6>
                                    <p class="card-text">Risco de extinção: <br>Em Perigo</p>
                                    <hr>
                                    <p class="card-text"> Bahia,Minas Gerais,Espírito Santo e Rio de Janeiro</p>
                                </div>
                            </div>
                        </div>
                       
                        <div class="col-md-3" style="float: left">
                            <div class="card">
                                <img class="card-img-top" src="../../assets/img/sobre/mico.jpg" width="240" height="240">
                                <div class="card-body">
                                    <h4 class="card-title text-center">Mico de<br>Rondônia</h4>
                                    <h6 class="card-title"><i>Mico rondoni</i></h6>
                                    <p class="card-text">Risco de extinção: <br>Vulnerável</p>
                                    <hr>
                                    <p class="card-text mb-4">Rondônia</p>
                                    
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3" style="float: left">
                            <div class="card">
                                <img class="card-img-top" src="../../assets/img/sobre/cuxiu.jpg" width="240" height="240">
                                <div class="card-body">
                                    <h4 class="card-title text-center">Cuxiú<br> Preto</h4>
                                    <h6 class="card-title"><i>Chiropotes satanas</i></h6>
                                    <p class="card-text">Risco de extinção: <br>Criticamente em Perigo</p>
                                    <hr>
                                    <p class="card-text mb-4"> Pará</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/.First slide-->
                    <!--Second slide-->
                    <div class="carousel-item">
                        <div class="col-md-3" style="float: left">
                            <div class="card">
                                <img class="card-img-top" src="../../assets/img/sobre/gecko.jpg" width="240" height="240">
                                <div class="card-body">
                                    <h4 class="card-title text-center">Gecko do<br>Campo</h4>
                                    <h6 class="card-title"><i>Homonota uruguayensis</i></h6>
                                    <p class="card-text">Risco de extinção: <br>Vulnerável</p>
                                    <hr>
                                    <p class="card-text mb-4">Brasil e Uruguai(Pampa)</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3" style="float: left">
                            <div class="card">
                                <img class="card-img-top" src="../../assets/img/sobre/perereca.jpg" width="240" height="240">
                                <div class="card-body">
                                    <h4 class="card-title text-center">Perereca</h4>
                                    <h6 class="card-title"><i>Aparasphenodon pomba</i></h6>
                                    <p class="card-text">Risco de extinção: <br>Criticamente em Perigo</p>
                                    <hr>
                                    <p class="card-text mb-1">Município de Cataguases, zona da mata de Minas Gerais</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3" style="float: left">
                            <div class="card">
                                <img class="card-img-top" src="../../assets/img/sobre/cascudo.jpg" width="240" height="240">
                                <div class="card-body">
                                    <h4 class="card-title text-center">Cascudo</h4>
                                    <h6 class="card-title"><i>Delturus parahybae </i></h6>
                                    <p class="card-text">Risco de extinção: <br>Criticamente em Perigo</p>
                                    <hr>
                                    <p class="card-text mb-1">A bacia do rio Paraíba do Sul, entre Barra do Piraí e Três Rios,
                                        Rio de Janeiro</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3" style="float: left">
                            <div class="card">
                                <img class="card-img-top" src="../../assets/img/sobre/lesma.jpg" width="240" height="240">
                                <div class="card-body">
                                    <h4 class="card-title text-center">Onicóforo</h4>
                                    <h6 class="card-title"><i>Epiperipatus adenocryptus</i></h6>
                                    <p class="card-text">Risco de extinção: <br>Criticamente em Perigo</p>
                                    <hr>
                                    <p class="card-text mb-1">Mata Atlântica, município de Santa Bárbara do Leste (MG)</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <ol class="carousel-indicators mt-3">
                    <li data-target="#multi-item-example" data-slide-to="0" class="active bg-dark"></li>
                    <li class="bg-dark" data-target="#multi-item-example" data-slide-to="1"></li>
                </ol>
            </div>
        </div>
    </div>
    

    <hr>
    <div class="container m-0 bg-colorstyle py-3 textSize text-justify mb-4">

        <strong>
            <h4 class="py-3">O que é</h4>
        </strong>
        <p> Animais ameaçados de extinção são aqueles que correm risco de desaparecer de maneira definitiva do nosso planeta, ou seja, de tornarem-se extintos. Apesar de ser relativamente comum na natureza, atualmente, o processo de extinção tem sido intensificado pelo homem.</p>

        <strong>
            <h4 class="py-3">Causas</h4>
        </strong>

        <p> A extinção é um processo natural que aconteceu com diversas espécies ao longo da história do nosso planeta. As espécies que vemos hoje, por exemplo, são completamente diferentes daquelas encontradas há 100 milhões de anos, porém, atualmente, o ser humano tem tido papel decisivo nesse processo</p>

        <p> Várias espécies estão ameaçadas de extinção no mundo em decorrência de vários fatores, entre os principais fatores que podem levar uma espécie à extinção, podemos citar:</p>

        <p><strong> - Destruição de habitat</strong> Uma espécie está bem-adaptada ao seu habitat quando encontra nele os recursos necessários para sua sobrevivência. Ao ter seu habitat destruído, uma espécie pode não ser capaz de encontrar os recursos necessários em outra área, correndo o risco de morrer e, posteriormente, ser extinta.</p>

        <p><strong> - Poluição</strong>: Assim como a destruição de habitat, a poluição afeta negativamente a sobrevivência dos seres vivos, criando condições não toleradas pela espécie.</p>

        <p><strong> - Mudanças climáticas</strong>: As mudanças climáticas também podem levar ao decréscimo de uma população e, consequentemente, à sua extinção. Observamos claramente como as mudanças climáticas afetam as espécies quando analisamos alguns anfíbios, que são altamente afetados por aumentos na temperatura e pela frequência de chuvas. Um artigo publicado na revista Ecology and Evolution mostrou que as mudanças climáticas poderão levar à extinção 42 espécies de anfíbios anuros na Mata Atlântica e no Cerrado entre 2050 e 2070.</p>

        <strong>
            <h4 class="py-3">Prevenções</h4>
        </strong>
        <strong>
            <h6 class="py-3">Dicas que podem fazer a diferença</h6>
        </strong>

        <p><strong> 1 - Preservação dos habitats</strong> <br> - Combate ao desmatamento onde estão as espécies; <br> - Plantar árvores nativas nas cidades para atrair os animais.  </p>

        <p><strong> 2 - Educação Ambiental</strong> <br> - Ensinar a preservar os animais, trazer atividades econômicas aliadas à preservação, como artesanato; <br> - Ensinar a população que é necessário a organização da coleta de lixo reciclável em casa e prédios; <br> - Nas grandes cidades, visitações a zoológicos ajudam a aproximar o público dos animais; <br> - Não deixar resíduos em praias, parques e ruas;  <br> - Não abandonar animais, soltar animais na mata pode interferir na cadeia alimentar da região e afetar a população local.  
        </p>

        <p><strong> 3 - Combate ao tráfico</strong> <br> - Não comprar animais do tráfico; <br> - Verificar a lista de animais silvestres autorizados na sua região; <br> - Verificar se a loja que vende é autorizada; <br> - Denunciar qualquer suspeita aos órgãos ambientais ou ao Ibama: 0800-61-8080.  
        </p>

        <p><strong> 4 - Doações</strong> <br> - A realização de Doações para ONGs protetora dos animais é um excelente modo de combater a extinção e ajudar na preservação tanto da Fáuna, quanto da Flora.  
        </p>

    </div>
</div>